.homepage__card{
    display: flex;
  flex-direction: column;
  justify-content: start;
  font-size:1.25rem;
font-family:Bold;
/* align-items: justify; */
border-radius: 10px;
align-self: flex-end;
text-align: left;

 
}
/* .delete-icon{
  margin-left:90%;
 margin-top:-5%

} */



.homepage__card__header{
    display: flex;
    justify-content:flex-start ;
    align-items: center;

    padding: 10px;
    background: transparent linear-gradient(270deg, #00BAFF 0%, #004DFF 100%) 0% 0% no-repeat padding-box ;
    
  }
  .homepage__card__header__avatar{
      padding:5px;
  }

  .skill_name{
      margin-left:1rem;
      font-size:30px;
      color:white;
      flex:1 !important;
      display:flex;
  }
  .user_name{
    margin-top:1rem;
    padding:1rem

  }
.bit_name{
    margin-top:10px;
    padding-left: 1rem;
}
.warn-img{
    display:flex;
    flex:1;

}
.con{
 display:inherit;
  padding-left:1rem;
    margin-top:10px;
}
.icons{
    margin-top:1rem;
    display: flex;
    padding:1rem;
}
.like_icon{
    width:30px;
    height:30px;
    margin-right:10px;
    cursor:pointer;

}
.dislike_icon{
    width:30px;
    height: 30px;
    margin-left:15px;
    cursor:pointer;

}
.warning_icon{
    width:30px;
    height: 30px;
    cursor:pointer;
}

