body{
  margin:0;
  padding:0;
  background-color: #fff;
  font-family: sans-serif;
  
}
.card-class{
  padding:1rem;
  background: #79cbcda8;
  min-height: calc(100vh - calc(4.5rem + 2.5rem));
}
.team-container
{
  width:100%;
  height: auto;

}
.skill__card__header{
  display: flex;
  justify-content:center;

  padding: 10px;
  border-right: solid lightgray;
  background-color: rgb(80, 137, 139);
  
}
.text
{
  color:#097e8dfa;
  font-size: 25px;
  margin-top: 40px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;

}

.profile-card
{
  background-color: #ffffff;
  width: 270px;
  height: 250px;
  margin: 40px 40px 40px 40px;
}
@media(max-width: 468px)
{
  .profile-card
  {
      width: 290px;
      height: 250px;
  }
}
.profile-content
{
  padding:1px;
  display:flex;
  margin-left:30px;
  margin-bottom:30px;
  align-items:center;

}
img{
  width: 80px;
  height: 80px;
  border-radius: 50px;
}


/* .btn
{
  color: #ffffff;
  width: 130px;
  cursor: pointer;
  height: 38px;
  font-size: 13px;
  font-weight: 600;
  margin-top: 1rem;
  margin-bottom: 1rem;
  box-shadow: 3px 3px 3px 3px #e6e6e6;
  border-radius: 3px;
  outline:none;
  border:none;
  text-transform: uppercase;
   */

.btn:hover{
  background:linear-gradient(
      90deg,
    rgba(12, 171, 199, 0.678)0%,
    rgb(5, 172, 150)100%

  );
}
.avatar{
  margin-top:0px;
}
.btn-div{
  display:flex;
  align-items: center;
  justify-content: center;
}

.skill__card{
  display: flex;
flex-direction: column;
justify-content: start;

min-height: 250px;
font-size:weight;
font-family:Bold;
/* align-items: justify; */
border-radius: 10px;
align-self: flex-end;
text-align: left;
}
.des{
  padding:8px;
}





*{
  margin :0;
}
.app{
  background-color: #FAFAFA;
}
.app__headerimage{
  
  width: 60px;
  height :30px;
  object-fit: contain;
  
}
.app__header{
  padding: 15px;
  background-color: white;
  object-fit: contain;
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 1;
}

.app__signUp{
  display : flex;
  flex-direction : column;
}

.app__posts{
  padding: 20px;
  display: flex;
  justify-content: center;
}

.app__postsLeft{
  margin-right: 40px;
}

.app__postsRight{
  margin-left: 50px;
}


.navbar-lin {
  color: black;
  text-decoration: none;
  font-size: 13px;
  font-weight: 600;
  padding: 0.5rem 1rem;
  width: 160px;
  cursor: pointer;
  height: 38px;
box-shadow: 3px 3px 3px 3px #e6e6e6;
text-transform: uppercase;

}
.navbar-lin:hover{
  background:lightgrey;
    transition: 250ms;
    
}
.navbar-lin:hover {
  background-color:lightgrey;
  border-radius: 0;
}

.bttn
{
margin-top:50px;
background-color:white;
color:black;
width: 130px;
cursor: pointer;
height: 38px;
font-size: 13px;
font-weight: 600;
box-shadow: 3px 3px 3px 3px #e6e6e6;
border-radius: 3px;
outline:none;
border:none;
text-transform: uppercase;
margin-left:150px;
box-shadow: 3px 3px 3px 3px #e6e6e6;

}
.bttn:hover{
  background-color:lightgrey;
  transition: 250ms;

}
.description{
     margin-top:1rem; 
    padding:1rem

}
.ka-container{
  padding-left:1rem;
  padding-right: 1rem;
}

.ka-cardlist{
  position:relative;
  min-width:0;
  margin:1rem;
  padding:1rem;
}

.ka-cardlist .ka-prev, .ka-cardlist .ka-next{
  display:block;
  width:1.25rem;
  height: 100%;
  position:absolute;
  left:-1.125rem;
  top:0;
  z-index:1;
  background: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 5 8'%3E%3Cpath fill='none' stroke='%2343425D' stroke-width='1' d='M5 0 L1 4 L5 8' /%3E%3C/svg%3E") no-repeat center #fff;
  background-size:40% auto;
}
.ka-cardlist .ka-next{
  left:100%;
  transform:scale(-1);
}
.ka-cardlist-wrap{
  position:relative;
  width:100%;
  overflow: hidden;
}
.ka-cardlist-inner{
  display: flex;
  width:100%;
  position:relative;
  transition: left .2s;
}
.ka-summarycard{
  border-color: #bebebe;
  min-height: 210px;
  border-radius: 1rem;
  box-shadow: 0 0 0.375rem rgb(0 0 0 / 16%);
  flex:0 0 calc(55% - 1rem);
  max-width:calc(55% - 1rem);
  margin:0 .75rem 0 .25rem;
  
}