@import url(https://fonts.googleapis.com/css?family=Roboto);

.post-container{
    background:#353b3f;
    font-family: 'Roboto', sans-serif;
    padding:3.5rem;
}

.post_card {
    position:relative;
    height:450px;
    /* width:900px; */
    /* margin:200px auto; */
    background:#fff;
    box-shadow: 7px 7px 50px 0px rgba(0,0,0,.7);
}
.thumbnail{
    float:left;
    position:relative;
    left:30px;
    top:-30px;
    height: 320px;
    width:530px;
    box-shadow: 8px 8px 50px 0px rgba(0,0,0,.7);
    overflow:hidden;
}
img.left{position:absolute;
    /* left:50%;
    top:50%; */
    /* transform:translate(-50%, -50%); */
    height:100%;
    width:100%;
    border-radius: 0;
}
.post_card .right{
    margin-left:590px;
    margin-right: 20px;
}
.right h1{
    padding-top:15px;
    font-size:1.3rem;
    color:#ccc;
}
.right .author{
    background: #9ecaff;
    height: 30px;
    width:110px;
    border-radius: 20px;
}
.author h2{
    padding-top:8px;
    margin-right: 6px;
    text-align: center;
    font-size:.8rem;
    color:#fff;
}
.right p{
    text-align:justify;
    padding-top:10px;
    font-size:.95rem;
    line-height: 150%;
    color:#4b4b4b;
    overflow-y: scroll;
    height: 320px;
}

.Details__icons{
    display: flex;
    padding: 1rem;
    align-items: center;
    

}
ul{
    position: relative;
    bottom: 4rem;
    display: flex;
    width: 530px;
    
}
li{
    display: inline;
    list-style: none;
    padding-right: 40px;
}
.down-icon{
    flex:1;
}

