.profile{
  display: grid;
  padding:10px;
  height: 80vh;


} 
.profile__body{
  display: flex;
  margin-top: 10px;
  
  border-radius: 2px;
  background-color: white;
  padding:10px;
}

.profile__body__left{
  flex-direction: column;
  flex: 0 0 300px;
  width:300px;
  padding: 1rem;
  border-right:1px solid #dedede;
  /* margin-top: -10%; */
  /* color: rgb(255, 157, 171); */
}


.avatar{
  align-self: center;
   display: flex;

   width: 10px;
   size: 10vh 10hh ;
  }
  
  .profileImage{
      /* color:transparent; */
      align-self: center;
      margin-bottom: -40%;
      
  }
.profile__body__right{
  display: flex;
  

}
.profile__body__left > h1{
  align-self: center;
  font-family: Serif;
  color:black;
  padding: 20px; 
margin-right:100px;
}
.profile__body__up{

  flex-direction: column;
  margin-top:80px;
  padding: 15px;
  /* margin-top: -10%; */
  border-top: solid black;
  /* color: rgb(255, 157, 171); */
}
.profile__body__achive{
  flex-direction: column;
  margin-top:0px;
  padding: 15px;
  /* margin-top: -10%; */
  border-top: solid black;
  border-width: 1px;

  /* color: rgb(255, 157, 171); */
}
.profile__body__logout{

  flex-direction: column;
  padding: 15px;
  /* margin-top: -10%; */
  border-top: solid black;
  border-width: 1px;

  /* color: rgb(255, 157, 171); */
}
.h4{
  margin-top:10px;
}
.profile__post{
  justify-content:center;
  display:flex;
}

.new{
  margin-left:2rem;
  width:calc(100% - 300px);
}

.skill_name h5{ margin-bottom: 0; flex:1;}

.checkcircle{
cursor:pointer;
}
.h1{
  text-transform: capitalize;
}
.profile__card{
  width: 300px;
  padding:5px;
}
.save__icon{
  margin-top:20px;
  margin-left:100px
}
.create__icon{
  margin-left:180px;
  cursor:pointer;
  
}
