.login-con{
  /* min-height: calc(100vh - calc(4.5rem + 2.5rem)); */
  min-height: calc(100vh - calc(4.5rem + 2.5rem));
  display:flex;
  align-items: center;
  justify-content: center;
  background: #116466a8;
  
}

.form-container {
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
  position: relative;
  border-radius: 10px;
  min-height: 500px;
  width: 500px;
  justify-content: center;
  margin: 2rem;
  
  
}
h3{text-align: center;}

.form{
  padding:2rem;
}
.form-content-left {
  background: linear-gradient(
    90deg,
    rgb(39, 176, 255) 0%,
    rgb(0, 232, 236) 100%
  );
  border-radius: 10px 0 0 10px;
  position: relative;
}
.form h1 {
  font-size: 1rem;
  text-align: start;
  width: 80%;
  margin-bottom: 1rem;
  color: #fff;
}

.form-inputs {
  margin-bottom: 0.5rem;
  width: auto;
}

.form-label {
  display: inline-block;
  font-size: 0.8rem;
  margin-bottom: 6px;
  color:black;
}

.form-input {
  display: block;
  padding-left: 10px;
  outline: none;
  border-radius: 2px;
  height: 40px;
  width: 70%;  border: none;
}

.form-control::placeholder {
  color: #837c7c;
  font-size: 12px;
}

.form-button-btn {
  width: 10%;
  height: 40px;
  margin-top: 10px;
  border-radius: 2px;
  background: linear-gradient(
    90deg,
    rgb(39, 176, 255) 0%,
    rgb(0, 0, 0) 100%
  );
  outline: none;
  border: none;
  color: #fff;
  font-size: 1rem;
}
.form-button-btn:hover {
  cursor: pointer;
  background: linear-gradient(
    90deg,
    rgb(49, 82, 117) 0%,
    rgb(175, 12, 250) 100%
  );
  transition: all 0.4s ease-out;
}